.nav-item{
  border: 1px solid white;
  border-radius:  10%;
}

.navbar-text{
  border: 1px solid skyblue;
  border-radius:  10%;
  color: skyblue !important;
}

.header{
  background-image: url(./assets/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.color-overlay{
  min-height: 60vh;
  height: 25vh;
  background-color: rgba(0,0,0,.6);  
}


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
}

.footer{
  height: 8vh;
  color: white;
}